body{
	/* background-color: #000000; */
}
#LMS-serch{
	width: 50%;
	text-align: center;
}

#LMS-user-icon{
	width: 25px;
}
#LMS-main-side{
	width: 250px;
	height: 820px;
	background-color: #f6f8fa;
}
#LMS-main-side .active a{
	background-color: #000000;
	color: white;
}
#LMS-main-side a{
	color: #000000;
}
.nav-pills>li>a{
	border-radius: 0;
}
.LMS-main-bar{
	width: 80%;
	position: absolute;
	top:70px;
	left: 300px;
	display: none;
}

#LMS-main{
	width: 70%;
	height: 740px;
	border-left:#ddd 1px solid ;
	top: 130px;
	left: 300px;
	position: absolute;
}
#LMS-main-icon{
	top: 30%;
	left: 50%;
	position: absolute;

}
#LMS-nav{
	margin: 0;
	border-radius: 0;
}

#LMS-foot{
	background-color: #000000;
	width: 100%;
	height: 80px;
}
#LMS-tb{
	margin: 20px;
}
#LMS-tb tr td{
	height: 40px;
	line-height: 40px;
}
#LMS-tb-head>th{
	border-top: none;
}
.LMS-main-icon{
	width: 20px;
}
#LMS-main-add{
	right: 0;
	position: absolute;
}
#LMS-main-page{
	margin-left: 35%;
}