*{
    margin: 0;
    padding: 0;
}
#box{
    position: relative;
}
#box>#pay,#btn,#foot{
    width: 1300px;
    margin: 30px auto;
    text-align: center;
}
#box> #center{
    line-height: 52px;
    font-size: 24px;
    font-weight: 700;
}
#box> #center .col-sm-5{
    height: 52px;
    background: rgba(166, 166, 166, 1);
    color: white;
}
#pay{
    height: 267px;
    background: rgba(202, 235, 233, 1);
    font-size: 20px;
    font-weight: 700;
}
#pay>label{
    height: 51px;
    display: inline-block;
    line-height: 51px;
}
#pay_type{
    height: 216px;
    background: rgba(180, 212, 210, 1);
    border: 1px solid rgba(180, 212, 210, 1);
}
#pay_type ul{
    width: 60%;
    height: 60px;
    list-style: none;
    margin: 60px auto;
}
#pay_type>ul>li{
    line-height: 52px;
    width: 185px;
    height: 52px;
    background: rgba(255, 255, 255, 1);
    float: left;
    margin-left: 60px;
}
#pay_type>ul>li label{
    color: black;
}
#foot>button{
    color: white;
    width: 1300px;
    height: 54px;
    background: rgba(212, 48, 48, 1);
    border: none;
}
#buttom{
    height: 80px;
    background: rgba(254, 220, 210, 1);
    margin: 0 auto;
    text-align: center;
    line-height: 80px;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    position: absolute;
    bottom: 0;
}