<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/css/head.css}"/>
<link rel="stylesheet" th:href="@{/css/user-main.css}"/>
<link rel="stylesheet" th:href="@{/css/user-select.css}"/>
<body>
    <nav class="navbar navbar-default" id="head">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">森灵</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" id="head-input" class="form-control" placeholder="书海寻径">
              </div>
              <button type="button" id="head-sub" class="btn btn-default">搜索</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/customerWeb/customer-car.html">购物车</a></li>
                <li><a href="#">我的订单</a></li>
                <li class="dropdown">
                    <a href="#" id="customerName" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/customerWeb/customer-Info.html">个人主页</a></li>
                        <li><a href="/customer/logout">注销</a></li>
                    </ul>
                </li>
                <img id="head-img" src="/img/default_icon.png">
              </ul>
          </div>
        </div>
      </nav>

        <hr id="line"/>
        <div id="user-main">
            <div>
                <img th:src="@{/img/headImg.png}">
            </div>
            <div>
                <form id="form-address">
                    <input type="hidden" id="addressId" th:name="${addressId}">
                    <div class="form-group input">
                        <label for="inputName">姓名</label>
                        <input type="text" class="form-control" name="addressName" id="inputName" required="required" th:value="${name}">
                        <p id="NameErrorMsg" class="OK msg">不允许特殊字符,2-8字</p>
                    </div>
                    <div class="select">
                        <span class="select-name">地区</span>
                        <span>省</span>
                        <select class="form-control user-select" name="provinceCode" id="select-province" required="required" >
                            <option th:value="${provinceId}" th:text="${province}"></option>
                        </select>
                        <span>市</span>
                        <select class="form-control user-select" name="cityCode" id="select-city" required="required" th:value="${city}">
                            <option th:value="${cityId}" th:text="${city}"></option>
                        </select>
                        <span>区</span>
                        <select class="form-control user-select" name="areaCode" id="select-area" required="required" th:value="${area}">
                            <option th:value="${areaId}" th:text="${area}"></option>
                        </select>
                        <p id="cityErrorMsg" class="OK exMsg">不能为空</p>
                    </div>
                        
                    <div class="form-group input">
                        <label for="inputPosition">地址</label>
                        <input type="text" class="form-control" name="addressPosition" id="inputPosition" required="required" th:value="${address}">
                        <p id="positionErrorMsg" class="OK msg">不允许特殊字符,最多50字</p>
                    </div>
                    <div class="form-group input" id="phone">
                        <label for="inputPhone">电话号码</label>
                        <input type="tel" class="form-control" name="addressPhone" id="inputPhone" required="required" th:value="${phone}">
                        <p id="phoneErrorMsg" class="OK msg">非法的号码格式</p>
                    </div>
                    <button type="button"  class="btn btn-default but" id="updata">修改地址</button>
                    <button type="button" class="btn btn-default but" id="cal">取消</button>
                </form>
            </div>
        </div>

    <script th:src="@{/jQuery/jquery.min.js}"></script>
    <script th:src="@{/jQuery/bootstrap.min.js}"></script>
    <script th:src="@{/script/customer-indent-updateAddress.js}"></script>
</body>
</html>